@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background: whitesmoke;
    /* background: #000; */
}

h1 {
    text-align: center;
    /* margin-top: 25px; */
    /* margin-bottom: 15px; */
    font-size: 40px;
    letter-spacing: 5px;
    /* color: #fff; */
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
}

#bulb {
    font-size: 2rem;
    position: fixed;
    right: 10px;
    top: 5px;
    margin: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1; 
    top: 5%;
    right: 130%;
    margin-left: -60px;
    font-size: 12px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/* Image Container */
.img-container {
    margin: 10px 30%;
}

.img-container img {
    width: 100%;
    margin-top: 5px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .img-container {
        margin: 10px;
    }
}

@media screen and (max-width: 1400px){
    #bulb {
        position: relative;
    }
}